## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Cape Town,ZA,-33.9258,18.4232,58.87,82,75,1.01,light rain,0.29,0.0
1,1,Port Alfred,ZA,-33.5906,26.8910,57.85,88,43,11.45,scattered clouds,0.00,0.0
2,2,Atuona,PF,-9.8000,-139.0333,78.28,75,13,21.63,few clouds,0.00,0.0
3,3,Mount Isa,AU,-20.7333,139.5000,89.37,20,10,11.50,clear sky,0.00,0.0
4,4,Baza,ES,37.4907,-2.7726,65.43,81,0,1.01,clear sky,0.00,0.0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
gmaps.configure(api_key=g_key)
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pcities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
pcities_df.count()

City_ID                144
City                   144
Country                144
Lat                    144
Lng                    144
Max Temp               144
Humidity               144
Cloudiness             144
Wind Speed             144
Current Description    144
Rain (inches)          144
Snow (inches)          144
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = pcities_df.dropna()
clean_df.count()

City_ID                144
City                   144
Country                144
Lat                    144
Lng                    144
Max Temp               144
Humidity               144
Cloudiness             144
Wind Speed             144
Current Description    144
Rain (inches)          144
Snow (inches)          144
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atuona,PF,78.28,few clouds,-9.8000,-139.0333,
10,Lekoni,GA,71.98,overcast clouds,-1.5843,14.2591,
12,Rikitea,PF,74.01,clear sky,-23.1203,-134.9692,
14,Katsuura,JP,78.84,scattered clouds,35.1333,140.3000,
20,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
21,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
22,Trairi,BR,78.28,broken clouds,-3.2778,-39.2689,
23,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,
30,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,
32,Port Macquarie,AU,75.16,clear sky,-31.4333,152.9167,

In [8]:
# 6a. Set parameters to search for hotels within 5000 meters.
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']

    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    params = {'key': g_key, 'type':'lodging', 'radius' : 5000}
    params['location'] = f"{lat},{lng}"
    try: 
        r_hotels = requests.get(base_url, params= params).json()

        hotel_df.loc[index, 'Hotel Name'] = r_hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping')

# Save and upload the new DataFrame as csv file
hotel_df.to_csv(path_or_buf='WeatherPy_vacation.csv', index_label='City_ID')

hotel_df.head(10)

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atuona,PF,78.28,few clouds,-9.8000,-139.0333,Villa Enata
10,Lekoni,GA,71.98,overcast clouds,-1.5843,14.2591,Rendez-vous Des ChasseursD
12,Rikitea,PF,74.01,clear sky,-23.1203,-134.9692,People ThankYou
14,Katsuura,JP,78.84,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
20,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
21,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
22,Trairi,BR,78.28,broken clouds,-3.2778,-39.2689,janelas do mar
23,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,Posada Villaven C.A.
30,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
32,Port Macquarie,AU,75.16,clear sky,-31.4333,152.9167,Rydges Port Macquarie

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df_clean = hotel_df.dropna()
hotel_df_clean

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atuona,PF,78.28,few clouds,-9.8000,-139.0333,Villa Enata
10,Lekoni,GA,71.98,overcast clouds,-1.5843,14.2591,Rendez-vous Des ChasseursD
12,Rikitea,PF,74.01,clear sky,-23.1203,-134.9692,People ThankYou
14,Katsuura,JP,78.84,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
20,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
555,Dosso,NE,77.07,light rain,13.0490,3.1937,Hotel Toubal
559,Ilhabela,BR,71.13,overcast clouds,-23.7781,-45.3581,Ilha Flat Hotel
561,Oussouye,SN,77.18,overcast clouds,12.4850,-16.5469,Auberge du Routard
562,Kutum,SD,76.86,scattered clouds,14.2000,24.6667,Dibbo areaÙ…Ù†Ø·Ù‚Ø© Ø¯Ø¨Ùˆ
564,Wattegama,LK,77.92,broken clouds,6.7989,81.4808,

In [12]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df_clean.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""



# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df_clean[["Lat", "Lng"]]
locations.head()

        Lat       Lng
2   -9.8000 -139.0333
10  -1.5843   14.2591
12 -23.1203 -134.9692
14  35.1333  140.3000
20 -21.2000 -175.2000

In [14]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [15]:

fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦