## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Results/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,17,Menongue,AO,68.65,broken clouds,-14.6585,17.6910,Ritz Lauca
1,23,Korla,CN,71.55,clear sky,41.7597,86.1469,Gulisitan Hotel
2,29,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,33,Sarh,TD,73.31,thunderstorm with rain,9.1429,18.3923,Domicile 1sur le goudron
4,41,Rikitea,PF,73.96,clear sky,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
gmaps.configure(api_key=g_key)
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pcities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
pcities_df.count()

City_ID                110
City                   110
Country                110
Max Temp               110
Current Description    110
Lat                    110
Lng                    110
Hotel Name             103
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = pcities_df.dropna()
clean_df.count()

City_ID                103
City                   103
Country                103
Max Temp               103
Current Description    103
Lat                    103
Lng                    103
Hotel Name             103
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Menongue,AO,68.65,broken clouds,-14.6585,17.6910,
1,Korla,CN,71.55,clear sky,41.7597,86.1469,
2,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,
3,Sarh,TD,73.31,thunderstorm with rain,9.1429,18.3923,
4,Rikitea,PF,73.96,clear sky,-23.1203,-134.9692,
5,Maua,BR,69.60,scattered clouds,-23.6678,-46.4614,
6,Poum,NC,72.79,clear sky,-20.2333,164.0167,
7,Airai,TL,70.23,scattered clouds,-8.9266,125.4092,
8,Ribeira Grande,PT,70.05,scattered clouds,38.5167,-28.7000,
9,Hasaki,JP,70.20,broken clouds,35.7333,140.8333,

In [8]:
# 6a. Set parameters to search for hotels within 5000 meters.
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']

    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    params = {'key': g_key, 'type':'lodging', 'radius' : 5000}
    params['location'] = f"{lat},{lng}"
    try: 
        r_hotels = requests.get(base_url, params= params).json()

        hotel_df.loc[index, 'Hotel Name'] = r_hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping')

# Save and upload the new DataFrame as csv file
hotel_df.to_csv(path_or_buf='results/WeatherPy_vacation.csv', index_label='City_ID')

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Menongue,AO,68.65,broken clouds,-14.6585,17.6910,Ritz Lauca
1,Korla,CN,71.55,clear sky,41.7597,86.1469,Gulisitan Hotel
2,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,Sarh,TD,73.31,thunderstorm with rain,9.1429,18.3923,Domicile 1sur le goudron
4,Rikitea,PF,73.96,clear sky,-23.1203,-134.9692,People ThankYou
5,Maua,BR,69.60,scattered clouds,-23.6678,-46.4614,Hotel Capriccio MauÃ¡
6,Poum,NC,72.79,clear sky,-20.2333,164.0167,GÃ®te kajeon
7,Airai,TL,70.23,scattered clouds,-8.9266,125.4092,Juvinal Martin
8,Ribeira Grande,PT,70.05,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
9,Hasaki,JP,70.20,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df_clean = hotel_df.dropna()
hotel_df_clean

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Menongue,AO,68.65,broken clouds,-14.6585,17.6910,Ritz Lauca
1,Korla,CN,71.55,clear sky,41.7597,86.1469,Gulisitan Hotel
2,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,Sarh,TD,73.31,thunderstorm with rain,9.1429,18.3923,Domicile 1sur le goudron
4,Rikitea,PF,73.96,clear sky,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
103,Tezu,IN,73.99,clear sky,27.9167,96.1667,Circuit House
104,Hede,CN,73.31,light rain,33.7681,120.2517,Vienna 3 Best Hotel Sheyang Jiefang Rd
106,Pokhara,NP,69.22,scattered clouds,28.2333,83.9833,Butterfly Lodge
107,Axim,GH,74.88,few clouds,4.8699,-2.2405,Axim Beach Resort And Spa
108,Bintulu,MY,73.81,scattered clouds,3.1667,113.0333,900 Boutique INN

In [10]:
# 8a. Create the output File (CSV)
output_data_file = 'results/City_Data.csv'
# 8b. Export the City_Data into a csv
hotel_df_clean.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""



# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df_clean[["Lat", "Lng"]]
locations.head()

       Lat       Lng
0 -14.6585   17.6910
1  41.7597   86.1469
2  -0.7393  -90.3518
3   9.1429   18.3923
4 -23.1203 -134.9692

In [22]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [23]:

fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦